@media(max-width: 910px){
    .intro__title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .intro__txt{
        font-size: 18px;
    }
    .intro__subtitle{
        font-size: 18px;
    }
}
@media(max-width: 870px){
    .header__list{
        column-gap: 50px;
    }
    .btn{
        padding: 11px 26px 11px 26px;
    }
}
@media(max-width: 767px){
    .header{
        background: rgba(212,175,55,1);
    }
    .intro__phone{
        font-size: 30px;
    }
    .intro__bottom{
        flex-direction: column;
        row-gap: 40px;
    }
    .intro__title{
        font-size: 17px;
        line-height: 35px
        ;
    }
    .intro__txt{
        font-size: 17px;
    }
    .intro{
        background: linear-gradient(rgba(235,235,235,.76), rgba(235,235,235,.76)), url(../img/intro-bg.jpg) center / cover no-repeat;
        width: 100%;
    }
    .bonus__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 30px;
    }
    .delivery__content-body{
        row-gap: 0;
    }
    .bonus__subtitle{
        margin-top: 35px;
    }
    .parts__content{
        display: flex;
        flex-direction: column;
    }
    .parts__subtitle{
        text-align: center; 
        font-size: 20px;
    }
    .delivery__items1, .delivery__items2{
        display: flex;
        flex-direction: column;
    }
    .delivery__items1 .delivery__item, .delivery__items2 .delivery__item{
        width: 100%;
    }
    .about__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__txt:nth-of-type(1){
        border-top: none;
    }
}
@media(max-width: 678px){
    .header__list{
        column-gap: 30px;
    }
    .intro__phone{
        font-size: 25px;
    }
    .intro__top{
        row-gap: 15px;
    }
}
@media(max-width: 585px){
    .header__list{
        display: none;
    }
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header__nav{
        row-gap: 0;
    }
    .intro{
        padding-top: 120px;
    }
    .about__img{
        width: 100%;
    }
}
@media(max-width: 420px){
    .intro__input{
        min-width: 350px;
    }
    .parts__title{
        font-size: 25px;
    }
}
@media(max-width: 360px){
    .intro__input{
        min-width: 300px;
    }
}