*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background: rgb(249, 196, 56);
    background-clip: padding-box;
    border-radius: 8px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header{
    background-color: rgba(0,0,0,.93);
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    display: block;
    width: 100%;
    backdrop-filter: blur(2px);
}
.header__logo .md{
    display: none;
}
.header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    border-top: 4px solid rgba(249,196,56,1);
    padding-top: 15px;
    transition: 400ms ease;
}
.header__link{
    color: #fff;
    font-weight: 500;
    position: relative;
}
.header__list:hover{
    border-top: 4px solid transparent;
}
.header__link::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    left: 0;
    bottom: -10px;
    transition: 200ms cubic-bezier(0.68,-0.55,0.265,1.55);
    opacity: 0;
    transform: translateY(5px);
}
.header__link:hover::before, .header__link:focus::before{
    opacity: 1;
    transform: translateY(0);
}
.intro{
    padding-top: 250px;
}
.intro__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.intro__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.intro__link{
    text-decoration: underline;
}
.intro__phone{
    text-decoration: underline;
    color: rgb(30, 124, 4);
    font-weight: bold;
    font-size: 35px;
}
.intro__title{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.intro__txt{
    font-weight: bold;
    color: rgb(224, 47, 47);
    font-size: 23px;
    text-align: center;
}
.intro__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-right: 100px;
}
.intro__form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 15px;
    width: 100%;
}
.intro__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro__bottom{
    padding-top: 50px;
    padding-bottom: 50px;
}
.intro__subtitle{
    font-size: 25px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}
.intro__input{
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(220,222,225,1);
    border-radius: 0;
    min-width: 400px;
    padding: 20px 14px 20px 14px;
    color: rgba(56,56,56,.7);
    font-size: 18px;
}
.intro__btn{
    color: rgba(28,28,28,1);
    background-color: rgba(249,196,56,1);
    border: 2px solid rgba(0,0,0,1);
    font-weight: 700;
    font-size: 15px;
    border-radius: 2px;
    padding: 14px 42px 14px 42px;
    transition: 500ms ease;
}
.intro__btn:hover{
    color: rgba(255,255,255,1);
    border: 2px solid rgba(237,228,18,0);
    background-color: rgba(0,0,0,.8);
}
.bonus__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
    padding: 40px 0;
}
.bonus-img1{
    max-width: 265px;
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.bonus-img2{
    max-width: 365px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bonus__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bonus__subtitle{
    text-align: center;
    max-width: 380px;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}
.title{
    text-align: center;
    color: rgb(224, 47, 47);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    background: #000;
}
.bonus{
    padding-bottom: 50px;
}
.btn{
    color: rgba(0,0,0,1);
    border: 2px solid rgba(0,0,0,1);
    background-color: rgba(249,196,56,1);
    padding: 23px 100px 23px 100px;
    display: block;
    width: max-content;
    transition: 500ms ease;
}
.btn:hover{
    color: rgba(255,255,255,1);
    border: 2px solid rgba(237,228,18,0);
    background-color: rgba(0,0,0,.8);
}
.bonus__btn{
    display: block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}
.bonus__item:nth-of-type(2) .bonus__subtitle{
    color: rgb(224, 47, 47);
}
.bonus__icon{
    width: 64px;
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
}
.parts__icon{
    width: 64px;
    display: block;
}
.parts__title{
    color: #fff;
}
.parts__content{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
}
.parts__item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.parts__subtitle{
    font-weight: bold;
}
.delivery__title{
    margin-bottom: 15px;
    color: #fff;
}
.delivery__content{
    margin-top: 75px;
    background-color: rgba(0,0,0,1);
    padding: 50px 0;
    min-width: 100%;
}
.delivery__content-body{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.delivery__txt{
    font-size: 28px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
}
.delivery__icon{
    width: 80px;
    color: rgba(249,196,56,1);
}
.delivery__items1, .delivery__items2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.delivery__items2{
    column-gap: 50px;
}
.delivery__items1 .delivery__item{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    border: 4px solid rgba(212,175,55,1);
    padding: 30px 0;
}
.delivery__items2 .delivery__item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    border: 4px solid rgba(212,175,55,1);
    padding: 20px 0;
}
.delivery__subtitle{
    color: #fff;
    color: rgb(249, 196, 56);
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.about{
    background-color: rgba(0,0,0,1);
    padding-bottom: 100px;
}
.about__title{
    margin-bottom: 50px;
    color: rgb(249, 196, 56);
}
.about__txt{
    color: rgb(148, 148, 148);
    font-style: italic;
    font-size: 19px;
}
.about__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
}
.about__img{
    width: 465px;
}
.about__txt{
    max-width: 460px;
    width: 100%;
    text-align: center;
}
.about__txt:nth-of-type(1){
    margin-bottom: 30px;
    border-top: 1px solid rgba(102,102,102,.21);
    padding-top: 20px;
}
.contacts{
    background: url(../img/contacts-bg.png) center / cover no-repeat;
    width: 100%;
    padding: 30px 0;
}
.contacts__content{
    background-color: rgba(0,0,0,1);
    padding: 40px 20px;
    width: max-content;
}
.contacts__subtitle{
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 500;
    border-top: 1px solid #ffffff50;
    padding-top: 20px;
}
.contacts__adress{
    font-weight: 500;
    color: #fff;
    max-width: 200px;
    width: 100%;
    line-height: 27px;
    margin-bottom: 20px;
}
.contacts__mail{
    font-weight: 500;
    color: #fff;
    line-height: 27px;
    margin-bottom: 20px;
}
.contacts__phone{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}
.contacts__info{
    color: #fff;
    font-size: 13px;
    padding-top: 5px;
    border-top: 1px solid #ffffff40;
    margin-bottom: 20px;
}
.contacts__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts__link{
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}
.footer{
    background-color: rgba(212,175,55,1);
    padding: 30px 0;
}
.footer__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.footer__list{
    display: flex;
    align-items: center;
    column-gap: 150px;
}
.footer__link{
    color: #000;    
    position: relative;
}
.footer__link::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00000093;
    left: 0;
    bottom: -10px;
    transition: 200ms cubic-bezier(0.68,-0.55,0.265,1.55);
    opacity: 0;
    transform: translateY(5px);
}
.footer__link:hover::before, .footer__link:focus::before{
    opacity: 1;
    transform: translateY(0);
}
.footer__p{
    text-align: center;
    color: #666;
}
.footer__up:hover{
    background: #fff;
    border-radius: 50%;
    color: rgba(212,175,55,1);
}
.footer__up{
    font-size: 25px;
    transition: 500ms ease;
    color: #fff;
    padding: 15px 22px;
}
.popup{
    position: fixed;
    inset: 0 0 0 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}
/* ::-webkit-scrollbar-track {
    background: #fafafa;
} */
.popup.active{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.popup__body{
    border-width: 11px 10px 11px 10px;
    border-style: solid;
    border-color: rgba(248,163,5,1);
    box-shadow: 0px 19px 49px -6px rgb(30 40 98 / 86%);
    padding: 30px 50px;
    background: rgb(249, 196, 56);
    position: relative; 
    max-width: 700px;
    overflow-x: hidden;
    max-height: 700px;
    height: 90%;
}
.popup__body::-webkit-scrollbar {
    width: 8px;
}
.popup__body::-webkit-scrollbar-thumb {
    background: #fff !important;
    background-clip: padding-box;
    border-radius: 8px;
}
.popup__close{
    position: absolute;
    right: 7%;
    top: 8%;
    font-size: 32px;
    color: #fff;
}
.popup__logo{
    text-align: center;
    display: block;
    margin:10px auto;
}
.popup__form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    min-width: 100%;
}
.popup__input{
    width: 100%;
    padding: 14px 24px;
    color: rgba(126,148,216,1);
    border: 1px solid rgba(220,222,225,.5);
    border-radius: 3px;
    outline: none;
}
.popup__body .intro__phone{
    color: #000;
}
.popup__title{
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    margin: 20px auto;
    text-align: center;
}
.popup__btn{
    font-size: 15px;
    color: rgba(248,163,5,1);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 0px;
    background-color: rgba(255,255,255,1);
    padding: 14px 42px 14px 42px;
    max-width: 650px;
    width: 100%;
    transition: 500ms ease;
}
.popup__btn:hover{
    color: rgba(28,28,28,1);
    background-color: rgba(28,28,28,.5);
}
.bonus__icon, .parts__icon{
    transition: 500ms ease;
}
.bonus__icon:hover, .parts__icon:hover{
    color: rgb(249, 196, 56);
}
